if url
    if url.player.live.available
        embed(src=url.player.live.embed, width=500, height=450, allowfullscreen=true)
        strong
            p (live)
        embed(src='http://webcams.windy.com/webcams/stream/'+url.id, width=500, height=450, allowfullscreen=true)
        strong
            p (in-page live player || experimental, could break down on api change)
        
    else
        iframe(src=''+url.player.day.embed+"?autoplay=1", autoplay=1,width=500, height=450)
        strong
            p (daily cam - live not available)
        