body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2{
  margin: 2px auto;
  width: fit-content;
  text-align: center;
  border: 2px solid;
  padding: 10px;

}
div {
  padding: 5px;
  font-size: 20px;
}
#weather {
  display: inline-block;
  margin-left: 10px;
}